html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: monospace;
	background-color: #222222;
}

h1, p{
	text-align: center;
}

h1 span{
	text-align: center;
	font-weight: normal;
	background-color: #EBE9E5;
	box-shadow: 3px 2px #c4dbff;
	padding: 10px;
	border-radius: 3px;
}

#header {
	height: 10vh;
}

#footer {
	height: 10vh;
}

#map {
	height: 40vh;
	width: 90vw;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin: auto;

}

#chartContainer {
	width: 90vw !important;
	height: 40vh;
	margin: auto;
	padding-top: 20px;
	background-color: #EBE9E5;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;

}
