html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: helvetica;
	background-color: #c9deff;
}

h1, p{
	text-align: center;
}

h1 span{
	text-align: center;
	font-weight: normal;
	background-color: white;
	box-shadow: 3px 2px #c4dbff;
	padding: 10px;
}

#header {
	height: 10vh;
}

#footer {
	height: 10vh;
}

#map {
	height: 40vh;
	width: 90vw;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin: auto;
}

#chartContainer {
	width: 90vw !important;
	height: 40vw;
	margin: auto;
	padding-top: 20px;
	background-color: rgba(255,255,255,0.5);
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	margin-bottom: 30px;
}
